*{
  background-color: #eae5e2;
}
a, button{
  color: #B7190B;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  border: none;
  padding-left: 10px 20px;
  border-radius: 30%;
}
a,button:hover{
  background-color: #ffffff;
  box-sizing: border-box;
  color: #B7190B;
}
img {
  width: 20%;
}
.container{
  display: flex;
}
nav ul{
  list-style: none;
  display: flex;
}
nav ul li a{
  display: inline-block;
  padding: 10px 20px;
  margin: 10%;
}
